body {
  height: 100vh;
  background-image: url(./img/map-of-the-world-2401458_960_720.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
}

.main h1 {
  font-weight: 700;
}

.select {
  min-width: 20%;
  height: 2.1rem;
  text-align: center;
  border-radius: 7px;
  font-weight: 600;
}
