body {
  height: 100vh;
  background-image: url(./img/map-of-the-world-2401458_960_720.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
}

.main h1 {
  font-weight: 700;
}

.select {
  min-width: 15%;
  max-width: 8rem;
  height: 2.1rem;
  text-align: center;
  border-radius: 7px;
  font-weight: 600;
}

.result {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  width: 30rem;

  color: black;
  margin: 2rem auto;
}
.result ul {
  list-style-type: none;
}

li img {
  min-width: 5rem;
  max-width: 10rem;
  padding: 0.8rem;
}

li {
  font-weight: 500;
}

li span {
  font-weight: 900;
}

li.maps {
  padding-bottom: 0.6rem;
}

@media only screen and (max-width: 500px) {
  .result {
    width: 20rem;

    margin: 2rem auto;
  }
}

@media only screen and (max-width: 300px) {
  .result {
    width: 15rem;

    margin: 2rem auto;
  }
}
